body {
    background: #eee;
    margin: 0;
}

#container {
    width: 90%;
    max-width: 980px;
    margin: 40px auto;
    display: flex;
 }

 #intro {
     width: 300px;
     margin-right: 20px;
 }
 
main {
    margin: 32px 0;
}

button {
    border: none;
    color: #FF5E84;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

button:hover {
    text-decoration: underline;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

button.fat {
    color: #fff;
    background: #FF5E84;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 8px 16px rgba(255, 0, 92, 0.16);
}

button.fat:hover {
    text-decoration: none;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #FF5E84;
    font-weight: bold;
}

img{
    margin-top: 50px;
    margin-bottom: 50px;
}

.hide {
    display: none;
}