body {
    text-align: center;

    background: #eee;
    margin: 0;
}

#container {
    width: 90%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
 }
 

button {
    border: none;

    font-weight: bold;
}

.fat {
    color: #fff;

    background: #FF5E84;
}

img, #footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.hide {
    display: none;
}